.footer{
    background-color: black;
    height: 120px;
    bottom: 0;
    align-items: flex-end;
    display: flex;
}   

.footer p{
    color:aliceblue;
}

.container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

